@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* padrão para converter o font size 'rem' a cada 10 px = 32px => 3.2rem */
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8rem;
}
main {
  padding-top: 7rem;
}
table,
td,
th {
  border: 1px solid black;
}
table {
  font-size: 2.4rem;
  border-collapse: collapse;
}
table tr:first-child {
  background-color: steelblue;
  color: aliceblue;
}
table tr:nth-child(2n + 3) {
  /*n é de base 0; então, elemento 3 (0 + 3), elemento 5 (2 + 3), elemento 7 (2 + 5)*/
  background-color: bisque;
}
h1 {
  color: #ff0000;
  /* font-size: 40px; */
  font-size: 4rem;
  font-weight: 900;
  font-style: oblique;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Neue", Arial, Helvetica, sans-serif;
}
h2 {
  /* font-size: 32px; */
  font-size: 3.2rem;
}
p {
  font-size: 18px;
  text-align: justify;
  text-indent: 90px; /*apenas na primeira linha*/
}
a {
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: coral;
}
/* a:hover deve vir sempre depois de a e a:visited - a:active deve sempre vir depois do a:hover =>
a
a:visited
a:hover
a:active
*/
.bg {
  height: 100vh;
  width: 100vw; /*% e vw são parecidos, mas % respeita o parent container e o vw usa a relação da pagina total*/
  background-color: aqua;
  background-image: url(https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*background fica fixo e o restante do conteudo rola por cima*/
}
ul,
ol {
  padding-left: 3.2rem;
}

ul {
  list-style: armenian;
}
ol {
  list-style: decimal-leading-zero;
}
.boxes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.box {
  flex: 30%;
  height: 10rem;
  width: 20rem;
  padding: 1.5rem;
  background-color: blueviolet;
  margin: 1.5rem;
  color: #fff;
  border: 10px solid red;
  display: inline-block;
  border-radius: 1rem;
  /* position: static; padrão */
}
/* .box:nth-child(1) {
  float: none;
}
.box:nth-child(3) {
  float: left;
}
*/
.box + span {
  clear: both;
  display: none;
}
/* .box:nth-child(1) {
  position: absolute;
  top: 20px;
  left: 100px;
} */
/*
.box:nth-child(n + 2) {
  /* n + 2 = todas os elementos a partir do 2°.. */
/* display: none; 
}
*/
/* .box:nth-child(2) {
  position: fixed;
  top: 15px;
  left: 30px;
} */
nav.menu {
  position: fixed;
  background-color: #5a5a5a;
  color: #fff;
  width: 100%;
  height: 7rem;
  z-index: 1;
}
img {
  height: 10rem;
  width: 15rem;
  object-fit: cover;
}
.contatos h2 {
  top: 7rem;
  position: sticky; /* o sticky precisa de um 'top' ou 'bottom' para saber onde ele começa a fixar*/
  background-color: limegreen;
}
